In [2]:
import spacy

In [3]:
import numpy as np
import pandas as pd
nlp = spacy.load("en_core_web_lg")

In [4]:
data = pd.read_csv("E:\\dataset\\intern.csv")
data

   loc                                     sentence
0    1                            What is your age?
1    2                             How old are you?
2    3             A man is eating a piece of bread
3    4                         A man is eating food
4    5    The cat was fast asleep on the windowsill
5    6  the dog was sound asleep on the living room
6    7                           ali is very hungry
7    8                              ali want to eat
8    9                        I want to go to sleep
9   10                             I am very sleepy

In [5]:
ref_sent = data.loc[data['loc'] == 3,'sentence'].iloc[0]
ref_sent

'A man is eating a piece of bread'

In [6]:
ref_vec = nlp(ref_sent)
ref_vec

A man is eating a piece of bread

In [7]:
all_docs=[nlp(row) for row in data['sentence']]

In [8]:
sims = []
docs_id = []
for i in range (len(all_docs)):
    sim = all_docs[i].similarity(ref_vec)
    sims.append(sim)
    docs_id.append(i)
    sims_docs = pd.DataFrame(list(zip(docs_id,sims)),columns = ["docs_id","sims"])

In [9]:
sort_sims = sims_docs.sort_values(by="sims",ascending = False).sort_index()
sort_sims

   docs_id      sims
0        0  0.483926
1        1  0.190248
2        2  1.000000
3        3  0.873825
4        4  0.531967
5        5  0.560842
6        6  0.623235
7        7  0.137984
8        8  0.105139
9        9  0.145329

In [11]:
file = sort_sims.to_csv("outputdataint.csv")
file

In [15]:
data1 = pd.read_csv("E:\\outputdataint.csv")

In [16]:
mergefile = pd.concat([data,data1],axis = 1,sort = False)
mergefile

,loc,sentence,Unnamed: 0,docs_id,sims
0,1,What is your age?,0,0,0.483926
1,2,How old are you?,1,1,0.190248
2,3,A man is eating a piece of bread,2,2,1.000000
3,4,A man is eating food,3,3,0.873825
4,5,The cat was fast asleep on the windowsill,4,4,0.531967
5,6,the dog was sound asleep on the living room,5,5,0.560842
6,7,ali is very hungry,6,6,0.623235
7,8,ali want to eat,7,7,0.137984
8,9,I want to go to sleep,8,8,0.105139
9,10,I am very sleepy,9,9,0.145329

In [17]:
filefinal = mergefile.to_csv("internfinalcsv.csv")